
.wrapper.row1
  %header#header.clear{:style => "background-image: url('/assets/header.jpg');"}
    %hgroup
      %h1
        %a{:href => "#", :style => "background:transparent;"} Student Health Service
      %h2 Thammasat University
      %a{:href => "admin.php", :style => "float:right;background:transparent; color:#FFF;padding-right:10px;"} Administrator

    %nav
      %ul.clear
        %li
          %a.navi=link_to 'Home ', index_path
        %li
          %a.navi=link_to 'About ', about_path
        %li
          %a.navi{:href => "#"} Links
          %ul
            %li
              %a{:href => "#"} Link 1
            %li
              %a{:href => "#"} Link 2
            %li
              %a{:href => "#"} Link 3
        %li
          %a.navi=link_to 'Contact', contact_path
        %li
          %a.navi=link_to 'Services', services_path
        %li
          %a.navy=link_to 'Information', informations_path
.wrapper.row2
  / Slider
/ content
.wrapper.row3
  #container.clear
    #homepage
      / Services
      %section#services
        .three_third
          %h3{:style => "font-size:30px;"} Welcome to Student Health Service
        .half
          %p{:style => "font-size:22px;"}
            This is services page




            
      / / Services
    / / content body
/ Footer
.wrapper.row4
  #footer.clear
    %section.half
      %h2.title ภารกิจหลัก
      %nav
        %ul
          %li.first 1. บริการสุขภาพนักศึกษา  (Health  Services)
          %li 2. ประกันอุบัติเหตุนักศึกษา  (Accident  Insuranec)
          %li 3. ส่งเสริมสุขภาพนักศึกษา  (Health  Promotion)
    / Section Three
    %section.half
      %h2.title ประกันอุบัติเหตุนักศึกษา
      %nav
        %p.title
          บริการให้คำแนะนำปรึกษาและอำนวยความสะดวกแก่นักศึกษา  เรื่องการเรียกร้องค่าสินไหมทดแทนเนื่องจากอุบัติเหตุ  รวมถึงการวางแผนการรักษา และฟื้นฟูสมรรถภาพร่างกาย
          ภายหลังการประสบอุบัติเหตุ
        %ul
          %li.first
            %a{:href => "#"} หน่วยงานผู้รับผิดชอบ
          %li
            %a{:href => "#"} การปฏิบัติกรณีนักศึกษาประสบอุบัติเหตุ
          %li
            %a{:href => "#"} หลักฐานเอกสารที่ใช้ในการประกอบการพิจารณาเรียกร้องค่าสินไหมทดแทน
          %li
            %a{:href => "#"} สิทธิการรักษาพยาบาลในโรงพยาบาลธรรมศาสตร์
          %li
            %a{:href => "#"} แบบฟอร์มเรียกค่าสินไหมทดแทน
          %li
            %a{:href => "#"} แบบฟอร์มรับเงินชดเชยใช้ค่าสินไหมทดแทน
/ Copyright
.wrapper.row5.ora
  %footer#copyright.clear
    %p.fl_left Copyright © 2012 - All Rights Reserved
    %p.fl_right
      %a{:href => "#", :style => "background:transparent;"} Thammasat University
