html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
table#information {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#information th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#information th, table#information td {
  padding: 4px;
  text-align: left;
}
table#information th.hilite {
  background-color: yellow;
}
#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
#warning {
  color: red;
  background-color: yellow;
  padding: 0.5em;
  font-weight: bold;
  border: 2px solid red;
}
div.field_with_errors input {
  border: 1px solid red;
  background-color: yellow;
  font-weight: bold;
}